
.loadingContainer {
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
  overflow: hidden;
}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: url(https://www.transparenttextures.com/patterns/stardust.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(https://www.script-tutorials.com/demos/360/images/clouds.png) repeat top center;
  z-index: 2;
  opacity: 0.4;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

@keyframes move-clouds-back {
  from { background-position: 0 0; }
  to { background-position: 10000px 0; }
}

.content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: cyan;
  border-radius: 5px;
  animation: progress-animation 3s linear forwards;
}

@keyframes progress-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
