.notFoundContainer {


 
  position: relative;

}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.stars {
  background: url(https://www.transparenttextures.com/patterns/stardust.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(https://www.script-tutorials.com/demos/360/images/clouds.png) repeat top center;
  z-index: 2;
  opacity: 0.4;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

@keyframes move-clouds-back {
  from { background-position: 0 0; }
  to { background-position: 10000px 0; }
}

.content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 10rem;
  font-weight: 900;
  text-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6, 0 0 30px #0077ff, 0 0 40px #0077ff, 0 0 50px #0077ff, 0 0 60px #0077ff, 0 0 70px #0077ff;
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button {
  padding: 0.8rem 1.5rem;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}
